annotated-types
azure-core
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
en-core-web-lg
filelock
idna
Jinja2
langcodes
language-data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
murmurhash
numpy
openpyxl
packaging
phonenumbers
preshed
presidio-analyzer
presidio-anonymizer
pycryptodome
pydantic
pydantic-core
Pygments
PyYAML
regex
requests
requests-file
rich
setuptools
shellingham
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
tldextract
tqdm
typer
typing-extensions
urllib3
wasabi
weasel
wrapt
